@import "vars";

// content
html, body {
  position: relative; 
  font-family: $font-primary;
}

head, script, link  { display: none; }
p { display: inline-block; }
span,em,strong { display: inline; }
em { font-style: italic; }
strong { font-weight: bold; }

#root {
  min-height: 900px;
}

body {
  background: $color-bg;
  font-size: 16px;
}

@for $i from 6 through 1 {
  h#{$i} {
    font-size: 9/($i + 2) * 1em;;
    padding: 0;
    margin: 3px 0;
  }
}

// form
label {
  font-size: 1.25em;
  font-weight: bolder;
  margin-bottom: $pad;
}

textarea, input {
  background: $color-form-box;
  border: none;
  padding: 12px;
  border-radius: 5px;
  margin-bottom: 15px;
  transition: 350ms all;

  &:focus {
    background: $color-form-focus;
    color: $color-white;
  }

  &::placeholder {
    font-family: $font-secondary;
    font-size: 16px;
    font-weight: bold;
    color: $color-secondary;
  }
}

button {
  cursor: pointer;
}

button,input[type="submit"] {
  background: $color-tertiary;
  padding: $pad;
  border: none;
  border-radius: 3px;
  font-family: $font-primary;
  color: $color-primary;
  font-size: 14px;

  &:hover {
    background: $color-secondary;
    color: $color-tertiary;
  }

  &:active {
    background: $color-highlight;
  }
}
