@import url('https://fonts.googleapis.com/css?family=Lato|Raleway');

// label these according to a:link, a:hover, a:visited, h1, h2, h3, p, etc.
$color-bg: #91B3bc;

$color-primary: #2e323c;
$color-secondary: #2b4251;
$color-tertiary: #5b7d87;

$color-highlight: #45415e;

$color-form-box: #5b7d87;
$color-form-focus: #2b4251;

// $modal-color: rgb(124, 49, 77);
// $modal-background: #C98474;

$color-black: #000;
$color-white: #fff;

$pad: 0.5em;

$font-primary: 'Raleway', sans-serif;
$font-secondary: 'Lato', sans-serif;
$font-default: 'Georgia', 'Times New Roman', serif;
